h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 30px blue, 0 0 10px darkblue;
}

body {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 29px;
    font-style: bold;
    background-color: #121212;
    color: white;
}

canvas {
    border: 2px solid white;
    background-color: black;
    display: block;
    margin: auto;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

/* Styling for input fields */
.input-container {
    margin-bottom: 10px;
}

input {
    width: 60px;
    margin: 5px;
    border: none;
    border-radius: 7px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: cyan;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    
    background-color: red;
}
